.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.login-card {
  width: 1000px;
  margin: 50px auto;
  background-color: white;
}

.check-box {
  text-align: center;
  width: 100%;
  color: gray;
}

.login-button {
  text-align: center;
  width: 100%;
  background-color: #3f51b5;
  color: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
